
.ipynb_checkpoints/app-checkpoint.py
.ipynb_checkpoints/input-checkpoint.json
.ipynb_checkpoints/main-checkpoint.py
.vs/Diversification_clique/FileContentIndex/14f63160-288c-4a75-843b-33ae9200d50d.vsidx
.vs/Diversification_clique/FileContentIndex/read.lock
.vs/Diversification_clique/v17/.wsuo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
